@font-face {
font-family: "PT Sans";
font-style: normal;
font-weight: 400;
src: url("fonts/pt-sans-regular.woff2") format("woff2");
font-display: swap;
}

@font-face {
font-family: "PT Sans";
font-style: normal;
font-weight: 700;
src: url("fonts/pt-sans-bold.woff2") format("woff2");
font-display: swap;
}

@font-face {
font-family: "PT Sans";
font-style: italic;
font-weight: 400;
src: url("fonts/pt-sans-italic.woff2") format("woff2");
}

@font-face {
font-family: "PT Sans";
font-style: italic;
font-weight: 700;
src: url("fonts/pt-sans-bold-italic.woff2") format("woff2");
font-display: swap;
}

/* PT Sans Narrow */
@font-face {
font-family: "PT Sans Narrow";
font-style: normal;
font-weight: 700;
src: url("fonts/pt-sans-narrow-bold.woff2") format("woff2");
font-display: swap;
}
  
body {
font-family: "PT Sans", sans-serif;
font-size: 16px;
line-height: 24px;
background-color: #FBF7F4;
}
.button {
    font-family: inherit;
    font-size: 16px;
    line-height: 16px;
    font-weight: 700;
    color: #FFFFFF;
    background-color: #83B3D3;
    text-decoration: none;
    text-transform: uppercase;
  }
.visal-hidden {
    position: absolute;
    height: 1px;
    width: 1px;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px,1px,1px,1px);
    clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
    -webkit-clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
    overflow: hidden !important;
}
.navigation-link {
font-family: "PT Sans";
line-height: 22px;
font-weight: 700;
text-align: center;
color: #000000;
text-decoration: none;
text-transform: uppercase; 
}

.item {
    color: #ffffff;
    background: #756257;
    border-radius: 4px; 
    text-decoration: none;
}

.list {
    list-style-type: none;
    
}

.picture{
    color: #ffffff;
    background-color: #000000;
    background-image: url("../img/index-background.jpg");
    width: 1200px;
    height: 485px;
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.footer-background-picture {
    color: #ffffff;
    background-color: #000000;
    background-image: url("../img/background.jpg");
    width: 1200px;
    height: 415px;
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.catalog-header-background-picture {
    color: #ffffff;
    background-color: #000000;
    background-image: url("../img/catalog-background-1.jpg");
    width: 1200px;
    height: 410px;
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.container {
    background-color: #83B3D3;
    color: #ffffff;
    width: 400px;
    height: 385px;
}

.main-item {
    background-color: #b6e2ff;
    color: #000000;
    width: 400px;
    height: 385px;
}

.main-medim-item {
    background-color: #79a6c4;
    color: #000000;
    width: 400px;
    height: 385px;
}

.footer-number {
font-family: "PT Sans";
line-height: 22px;
font-weight: 700;
text-align: center;
color: #000000;
text-decoration: none;
text-transform: uppercase; 
}

.item-footer {
    text-decoration: none;
}

.hostel-item {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase; 
    text-align: center;
}

.list-item {
    color: #000000;
    text-decoration: none;
    text-transform: uppercase; 
}

.main-list-item {
    background: #83B3D3;
}

.button-vilas {
    font-family: inherit;
    font-size: 16px;
    line-height: 16px;
    font-weight: 700;
    color: #ffffff;
    background: #7DB54F;
    text-decoration: none;
    text-transform: uppercase; 
}